{% extends "photos/base.html" %}

{% block title %}
{{ album.title }}
{% endblock %}

{% block links %}
<li><a href="/">Back to index</a></li>
{% endblock %}
{% block content %}


{% if photo_list %}

    <table id="album">

        {% for line in photo_list %}
            <tr class="album_line">

                {% for pic in line %}
                    <td class="album_photo">
                        <div class="album_photo_title">
                            <a href="/photo/{{ pic.id }}/">{{ pic.title }}</a></li>
                        </div>
                        <div class="album_photo_thumb">
                            <img src="{{ album.pic_url|add:"S_"|add:pic.gen_filename }}">
                        </div>
                    </td>
                {% endfor %}

            </tr>

        {% endfor %}

    </table>

{% else %}
<h2>Album has no photos available</h2>
{% endif %}

{% endblock %}
