{% extends "photos/base.html" %}

{% block javascript %}
    {% if photo %}
        <script type="text/javascript">
            function change_pic_size(size)
            {
                var sizes = {'M': "{{ photo.path_m }}",
                             'L': "{{ photo.path_l }}"
                            };

                try
                {
                    document.getElementById('pic').src = sizes[size];
                }
                catch(e)
                {
                    document.getElementById('pic').src = "{{ photo.path }}";
                }
            }
        </script>
    {% endif %}
{% endblock %}

{% block links %}
    {% if photo %}
        <div id="mainlinks">
            <a class="link" href="/">Back to index</a>
            <a class="link" href="/album/{{ photo.album }}/">Back to album</a>
        </div>
        <div id="sizelinks">
            <a class="size" href="#" onClick="change_pic_size('M')">Small</a>
            <a class="size" href="#" onClick="change_pic_size('L')">Medium</a>
            <a class="size" href="#" onClick="change_pic_size()">Original</a>
        </div>
    {% else %}
        <li><a href="/">Back to index</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if photo %}
        <img id="pic" src="{{ photo.path }}" alt="{{ photo.orig_filename }}">
    {% else %}
        <p>No photo.</p>
    {% endif %}
{% endblock %}
